*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(250, 250, 241);
    font-family: "Tajawal", sans-serif;
}

.wrapper{
    height: 100vh;
}

#box-container{
    width: 80%;
    background-color: rgb(250, 250, 241);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    gap: 20px;
}

.single-box{
    width: calc(100% / 3 - 20px);
    height: calc(100% / 3 - 20px);
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    cursor: pointer;
}

.card{
   
}

.images{
    width: 100%;
    display: block;
}

